.input {
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 20px;
}

.input--half {
	width: 48%;
}

.input--textarea {
	height: 200px;
	resize: none;
}