.main {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../../images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background: linear-gradient(to right, #ffffff, red, #000000);*/
}

.main-inner {
	color: #ffffff;
	text-align: center;
}

.main-inner > span {
	display: block;
}

/*.main-inner span {
	display: block;
}*/

.main-title {
	font-size: 15px;
	font-weight: 700;
}

.main-subtitle {
	font-size: 60px;
	line-height: 1.5;
}

.main-subtitle--bold {
	font-weight: bold;
}

.main-subtitle--italic {
	font-style: italic;
	font-family: Playfair Display, serif;
	margin-bottom: 40px;
}

.main__arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 50px;
	left: calc(50% - 25px);
	cursor: pointer;
	transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
	.main-title {
		padding-bottom: 20px;
	}

	.main-subtitle {
		font-size: 27px;
	}
}